body {
    background-color: aliceblue;
}

h1 {
    font-family:'Courier New', Courier, monospace;
    color: black;
    text-align:center;
}

h3 {
    font-family:'Courier New', Courier, monospace;
    color: black;
    text-align:center;
}

p {
    font-family:'Courier New', Courier, monospace;
    color: black;
}