.light-theme {
    --bg: aliceblue;
    --fontColor: black;
    --btnFontColor: aliceblue;
    --btnBg: rgb(37, 37, 37);
}

.dark-theme {
    --bg: rgb(37, 37, 37);
    --fontColor: aliceblue;
    --btnFontColor: black;
    --btnBg: aliceblue;
}

.center-text {
    text-align:center;
}

.btn {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.btn:focus {
    outline-style: none;
}

* {
    font-family:'Courier New', Courier, monospace;
    color: var(--fontColor);
}

body {
    background: var(--bg);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* Navbar class */
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar .navbtn {
    float: left;
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
    font-family: inherit;
}

.navbtn a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

/* Dopdown button */
.dropdown .dropbtn {
    padding: 14px 16px;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
    font-family: inherit;
}

/* Dropdown button links */
.dropbtn a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
